<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Page</title>
  <link rel="stylesheet" href="/styles/quizStyle.css">
</head>

<body class="quiz-page">
  <div class="quiz-container">
    <div class="logo-container">
      <p class="logo">Canada Genius</p>
    </div>
    <div class="intro-container">
      <p class="player-name" id="player-name">Name of the player: </p>
      <p class="quiz-description">Explore Canada through quizzes!</p>
    </div>
    <div class="timer-container">
      <span id="time">00:00:00</span>
    </div>

    <div class="question-container">
      <h2 class="question-no" id="questionNo"></h2>
      <h3 class="question-title" id="questionTitle"></h3>
    </div>
    <div class="question-section">
      <ul class="option-list" id="optionsList">
      </ul>
    </div>

    <footer class="quiz-footer">
      <div class="button-group-left">
        <button class="footer-btn" type="button" id="Home">Home</button>
        <button class="footer-btn" type="button" id="Previous" style="display: none;">Previous</button>
      </div>
      <div class="button-group-right">
        <button class="footer-btn" type="btton" id="Next">Next</button>
        <button class="footer-btn footer-btn-fin" type="button" id="Finish">Finish</button>
      </div>
    </footer>
  </div>
  <script src="/scripts/quiz.js"></script>
</body>

</html>