<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Page</title>
  <link rel="stylesheet" href="/styles/quizStyle.css">
</head>

<body class="quiz-page">
  <h1 class="page-title">Canada Genius</h1>
  <div class="intro-container">
    <p class="player-name">Name of the player</p>
    <p class="quiz-description">Explore Canada through quizzes!</p>
  </div>
  <div class="timer-container">
    <span id="time">00:00:00</span>
  </div>

  <h2 class="question-title" id="questionTitle">Question 1</h2>
  <div class="question-section">
    <ul class="option-list" id="optionsList">
      <li class="option-item"><input type="checkbox" id="Answer1">
        <label for="Answer1"> Toronto</label>
      </li>
      <li class="option-item"><input type="checkbox" id="Answer2">
        <label for="Answer2"> Vancouver</label>
      </li>
      <li class="option-item"><input type="checkbox" id="Answer3">
        <label for="Answer3"> Ottawa</label>
      </li>
      <li class="option-item"><input type="checkbox" id="Answer4">
        <label for="Answer4"> Montreal</label>
      </li>
    </ul>
  </div>

  <footer class="quiz-footer">
    <div class="button-group-left">
      <button class="footer-btn" type="button" id="Previous">Previous</button>
    </div>
    <div class="button-group-right">
      <button class="footer-btn" type="btton" id="Next">Next</button>
      <button class="footer-btn footer-btn-fin" type="button" id="Finish">Finish</button>
    </div>
  </footer>

  <script src="/scripts/quiz.js"></script>
</body>

</html>