body.quiz-page {
  font-family: Arial, sans-serif;
  background: url('../media/background2.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333333;
  margin: 0;
  padding: 20px;
}

.quiz-container {
  width: 60%;
  margin: 0 auto;
  padding: 15px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  width: 50%;
}

.logo {
  font-size: xx-large;
  margin: 10px 0 10px 10px;
  color: #ff0000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.question-container {
  width: 60%;
  margin: 10px auto;
  padding: 15px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3.question-number {
  color: #333333;
}

h3.question-title {
  color: #333333;
}

.intro-container {
  margin-left: 10px;
}

.timer-container {
  background: #333333;
  color: #FFD700;
  font-size: 28px;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  text-align: center;
  margin-left: 10px;
}

.question-section {
  width: 60%;
  margin: 0 auto;
  padding: 15px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul.option-list {
  list-style: none;
  padding: 0;
}

li {
  background: #e9ecef;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

li input[type="radio"] {
  margin-right: 10px;
}

li.selected {
  background: #ffc107;
  font-weight: bold;
}

.quiz-footer {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group-left {
  display: flex;
  justify-content: flex-start;
}

.button-group-right {
  display: flex;
  justify-content: flex-end;
}

.footer-btn {
  background-color: #005aff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
}

.footer-btn:hover {
  background-color: #0b3fa6;
}

.footer-btn-fin {
  background-color: #28a745;
}

.footer-btn-fin:hover {
  background-color: #218838;
}
